.home{
    width: 100%;
    height: 100vh;
}
.editors-container{
    /* border: 1px solid blue; */
    padding: 8px;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #313131;
}
.editors-result-container{
    display: flex;
    height: 95vh;
}